.btn {
    border: none;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s ease, opacity 0.2s ease;
}

.btn:disabled {
cursor: not-allowed;
opacity: 0.6;
}

.btn-md {
padding: 10px 14px;
font-size: 18px;
}

.btn-sm {
padding: 8px 12px;
font-size: 15px;
}

.btn-primary {
background-color: #F07D8E;
}

.btn-primary:hover {
background-color: #772B36;
color: #979797;
}
